<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>{{ title }}</h1>
        </div>
        <form action="create" method="POST">
            <fieldset>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone">
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email">
                </div>
                <button type="submit">Save</button>
            </fieldset>
        </form>
    </div>
</body>
</html>