{% extends 'template.html' %}
{% block content %}
<form action="{{ url_for('update_customer') }}" method="POST" enctype="multipart/form-data">
    <figure class="thumb col-md-3">
        <img class="img-responsive" src="{{ url_for('image', file_name=photo) }}">
        <figcaption>
            <label class="fileContainer">
                Change photo
                <input type="file" name="photo" accept=".jpg">
            </label>
        </figcaption>
    </figure>
    <input type="hidden" name="id" value="{{ customer.id }}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control form-control-sm" value="{{ customer.name }}">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" class="form-control form-control-sm" value="{{ customer.phone }}">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" class="form-control form-control-sm" value="{{ customer.email }}">
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary mt-2">Save</button>
            <a href="{{ url_for('index') }}" class="btn btn-warning mt-2">Back</a>
        </div>
    </div>
</form>
{% endblock content %}